#s4{background-color: bisque;
margin:40%;
padding: 25px;
border:1px solid black}
#a5{background-color: azure;}
#a6{background-color: azure;}
Table{border: 2px solid black;
background-color: cadetblue;
color:black;
}